[package]
name = "tashi-message-queue"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies.tashi-consensus-engine]
git = "ssh://git@github.com/tashigg/tashi-consensus-engine"
rev = "e600a66"

[dependencies.tashi-collections]
git = "ssh://git@github.com/tashigg/tashi-consensus-engine"
rev = "e600a66"

[dependencies]
bytes = "1.5.0"
color-eyre = "0.6.2"
dotenvy = "0.15.7"
thiserror = "1.0.56"
tracing = "0.1.40"

tokio-util = "0.7.10"

[dependencies.clap]
version = "4.4.18"
features = ["derive", "env"]

[dependencies.tokio]
version = "1.35.1"
features = ["full"]

[dependencies.tracing-subscriber]
version = "0.3.18"
features = ["json", "env-filter"]

# Recommended by `color-eyre` to improve performance:
# https://docs.rs/color-eyre/latest/color_eyre/#improving-perf-on-debug-builds
[profile.dev.package.backtrace]
opt-level = 3

[profile.dev.package.tokio]
opt-level = 3
