apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-runner
  labels:
    {{- include "foxmq-metrics.labels" . | nindent 4 }}
data:
  # language=bash
  runner-sh: |
    set -ex

    # Waits for `influxdb` deployment to be ready, if enabled.
    kubectl wait --for condition=ready pod -l tashi-app={{ include "foxmq-metrics.fullname" . }}-services --timeout=10m

    # Just cause the pod's ready doesn't necessarily mean the service is
    sleep 15

    kubectl patch job/{{ include "foxmq-metrics.workerJobName" . }} --type=strategic --patch '{"spec":{"suspend":false}}'
