apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "foxmq-metrics.fullname" . }}-runner
  labels:
    {{- include "foxmq-metrics.labels" . | nindent 4 }}
spec:
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "foxmq-metrics.selectorLabels" . | nindent 8 }}
    spec:
      restartPolicy: Never
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "foxmq-metrics.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.runner.image }}"
          imagePullPolicy: Always
          volumeMounts:
            - mountPath: /runner
              name: runner-sh
          command: [ "/bin/sh" ]
          args: [ "/runner/runner.sh" ]
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: runner-sh
          configMap:
            name: {{ include "foxmq-metrics.fullname" . }}-runner
            items:
                - key: runner-sh
                  path: runner.sh
