# Reference: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

name: TMQ

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      release-version:
        description: Set this to create a draft release, e.g. '0.0.1'. Do not include the 'v' prefix.
        required: false
      enable-macOS:
        type: boolean
        description: Enable building for macOS. This is always true for release builds.
        required: false
      enable-windows:
        type: boolean
        description: Enable building for Windows. This is always true for release builds.
        required: false

jobs:
  tmq-format:
    runs-on: tashi-arc
    timeout-minutes: 10
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Check rust code formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --check --all

  tmq-check:
    runs-on: tashi-arc
    timeout-minutes: 10
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy

      - name: Add TCE Deploy Key
        run: |
          mkdir -p ~/.ssh
          echo '${{ secrets.TCE_DEPLOY_KEY }}' >> ~/.ssh/id_ed25519
          chmod 400 ~/.ssh/id_ed25519
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-targets

      # Deny warnings but don't break `main` when new ones are added
      - name: Lint
        if: ${{ github.ref_name != 'main' }}
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets -- -D warnings

  tmq-tests:
    timeout-minutes: 10
    runs-on: tashi-arc-dind
    env:
      NODE_VERSION: v20.11.0
      SSH_AUTH_SOCK: $SSH_AUTH_SOCK
    defaults:
      run:
        working-directory: tests
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Add TCE Deploy Key
        run: |
          mkdir -p ~/.ssh
          ssh-agent -a ${SSH_AUTH_SOCK}
          ssh-add - <<< "${{ secrets.TCE_DEPLOY_KEY }}"

      - name: Build and run the message queue brokers
        run: ./run.sh

      - name: Smoke test
        # We expect tests to fail for now
        continue-on-error: true
        # May stall on some checks; keep trucking with the rest of the tests.
        timeout-minutes: 5
        run: |
          docker run --net=host hivemq/mqtt-cli test -V5 -a

      # actions/setup-node@v4 doesn't seem to work, I didn't investigate.
      - name: Install Node and NPM
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
          . ~/.nvm/nvm.sh
          nvm install ${NODE_VERSION}

      - name: System tests
        # We expect tests to fail for now
        continue-on-error: true
        run: |
          . ~/.nvm/nvm.sh
          nvm use ${NODE_VERSION}
          npm i
          npm test

      - name: Stop the message queue
        if: always()
        run: docker compose stop
